@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --font-family-primary: 'IBM Plex Sans', sans-serif;

    --font-size-primary: 2rem;
    --font-size-secondary: 0.95rem;
    --font-size-form: 0.95rem;
    --font-size-navbrand: 1rem;

    --font-weight-medium: 550;
    --font-weight-regular: 500;

    --bs-grey: #f8f9fa;
    --bs-secondary: #20262E;
    --bs-white: #ffffff;
    --bs-primary: #31363F;
    --bs-secondary: #20262E;
}

html, body {
    overflow-x: hidden;
}

body {
    background-color: var(--bs-grey);
    color: var(--bs-primary);
    font-family: var(--font-family-primary);
    overscroll-behavior: none;
}

h1 {
    font-weight: var(--font-weight-medium) !important;
    letter-spacing: -0.15rem;
}

p {
    letter-spacing: -0.05rem;
}

label {
    letter-spacing: -0.05rem;
}

.form-control {
    letter-spacing: -0.05rem;
    background-color: transparent;
    border: 1px solid var(--bs-secondary);
    border-left: 3px solid var(--bs-secondary);
    border-radius: 5px;
    line-height: 32px;
}

footer {
    letter-spacing: -0.5px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--bs-primary);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
  

@media only screen and (max-width: 768px) {
    .fs-4 {
        font-size: 18px !important;
    }
}

  