@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --font-family-primary: 'IBM Plex Sans', sans-serif;
    --font-family-secondary: 'IBM Plex Mono', monospace;

    --font-size-primary: 44px;
    --font-size-secondary: 20px;
    --font-size-form: 17px;
    --font-size-navbrand: 16px;



    --font-weight-medium: 550;
    --font-weight-regular: 500;

    --bs-grey: #f8f9fa;
    --bs-secondary: #20262E;
    --bs-white: #ffffff;
    --bs-primary: #31363F;
    --bs-secondary: #20262E;
}

html, body {
    overflow-x: hidden;
}

body {
    background-color: var(--bs-grey);
    color: var(--bs-primary);
    overscroll-behavior: none;
}

h1 {
    font-weight: var(--font-weight-medium) !important;
}

p {
    font-family: var(--font-family-secondary);
    letter-spacing: -1.35px;
}

label {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-form);
    font-weight: var(--font-weight-medium) !important;
    letter-spacing: -1px;
}

.form-control {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-form);
    letter-spacing: -1px;
    background-color: transparent;
    border: 1.8px solid var(--bs-secondary);
    border-left: 4.8px solid var(--bs-secondary);
    border-radius: 0;
    box-shadow: none;
    line-height: 28px;
}

footer {
    font-family: var(--font-family-secondary);
    letter-spacing: -0.5px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--bs-primary);
}
  

@media only screen and (max-width: 768px) {
    .fs-4 {
        font-size: 18px !important;
    }
}
  